.nav-links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	position: relative;
	padding-bottom: 70px;
}

.navigation {
	position: relative;
}

.navigation a,
.navigation span {
	text-decoration: none;
	font-size: 16px;
	line-height: 1.2;
	color: #000;
}

.page-numbers {
	cursor: pointer;
	display: block;
	text-align: center;
	max-width: 30px;
	width: 100%;
	padding: 10px 0px;
	padding-bottom: 11px;
	font-weight: bold;
	-webkit-transition: 0.3s background-color, 0.3s color;
	-o-transition: 0.3s background-color, 0.3s color;
	transition: 0.3s background-color, 0.3s color;
}

.page-numbers:not(.next) {
	margin-right: 20px;
}

.page-numbers:first-child {
	margin-right: 10px;
}

.page-numbers.current {
	color: #f32500;
}

.page-numbers:hover {
	color: #f32500;
}

.next {
	cursor: pointer;
	position: relative;
	width: 75px;
	max-width: initial;
	height: 40px;
	border: none;
	outline: none;
	padding: 0px;
	background-color: #f4f4f4;
	-webkit-transition: 0.3s color;
	-o-transition: 0.3s color;
	transition: 0.3s color;
}

.next:after {
	position: absolute;
	content: ' ';
	width: 14px;
	height: 14px;
	top: calc(50% - 7px);
	right: 5px;
	border-right: 3px solid #292929;
	border-bottom: 3px solid #292929;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: 0.3s border;
	-o-transition: 0.3s border;
	transition: 0.3s border;
}

.next:before {
	position: absolute;
	content: 'next';
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	left: 0px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-transform: uppercase;
}

.next:hover {
	color: #f32500;
}

.next:hover:after {
	border-color: #f32500;
}

@media screen and (max-width: 780px) {

.nav-links {
	display: none;
}

}

